<div class="review">
  <hr>
  <%  for i in 1..review.rating %>
    <span class=star>☆</span>
  <% end %>
  <%  for i in review.rating..4 %>
    <span >☆</span>
  <% end %>
  <br>
 <%= "#{review.description}" %>
 <br>
<% if(review.user == current_user)%>
  <%=link_to 'Delete', product_review_path(review.product, review), method: :delete %>
<% end %>
<br>
</div>
